body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.reset {
  background-color: teal;
  color: black;
}

.time-block{
  text-align: center;
  padding: 27px 15px;
  height: 80px;
  width:100%;
  font-size: 20px;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; 
  padding-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

textarea{
  background: transparent;
  border: 1px;
  resize: none;
  color: black;
  border-left: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; 
  padding-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  width:100%;
  background-color: transparent;
  height: 80px;
}

.saveBtn {
  font-size: 20px;
  background-color: transparent;
  height: 80px;
  text-align: center;
  text-decoration: none;
  color: black;
  border: none;
  width:100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; 
  padding-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

row {
  height: 80px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; 
  padding-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

container {
  background-color: transparent;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}
/*
.description{
  white-space: pre-wrap;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
